/*body, html {
    height: 100%;
}
*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.buscando, .masvendidos{
    text-align:center;
}

#imgRow{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

#imgRow:hover{
    transform: scale(1.2);
    opacity: 1;
}



#btnEdad:hover{
    transform: scale(1.2);
}

.pagination>li.page-item>a {
    background-color: white !important;
    color: Green;
  }

  .pagination>li.page-item>a:hover {
    transform: scale(1.2);
    background-color: lightblue !important;
  }

.modo-oscuro{
    background-color: rgb(37, 37, 37);
    color: #FFF;
}

